<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt'
import receiptService from '@/services/receipt'
import DialogReceipt from '../POS/DialogReceipt.vue'

import { onMounted, ref } from 'vue'
import type { Receipt } from '@/types/Receipt';
import { useBranchStore } from '@/stores/branch';
const branch = ref<string[]>()
const receiptStore = useReceiptStore()
const branchStore = useBranchStore()
const selectedBranch = ref("ทั้งหมด");
const headers = [
  { key:'date',title: 'date',value:(item: any) => {
            return item.date.substring(0, 10);

          } },
  { key:'time',title:'time'},
  { key: 'userName', title: 'User' },
  { key: 'total', title: 'TotalPrice' },
  { key: 'paymentType', title: 'Payment' },
  { key: 'channel', title: 'Chennel' },
  { title: 'Actions', key: 'actions', sortable: false }
]
const search = ref('')
async function handleSelection(item:string)  {
  if(selectedBranch.value ==="ทั้งหมด"){
    await receiptStore.getReceipts();
  }else{
    const j = await branchStore.branchs.find(item=>item.Address===selectedBranch.value)
    receiptStore.getReceiptsByBranch(j?.id!);
  }
  console.log(selectedBranch.value);
};
function h(){
  console.log("just");
  
}
onMounted(async ()=>{
await receiptStore.getReceipts();
await branchStore.getsBranchs()
branch.value = branchStore.branchs.map((item)=> item.Address)
console.log(branch.value);
branch.value.unshift("ทั้งหมด");
})
</script>
<template>
  <v-row no-gutters style="padding-bottom: 10px">
    <v-col cols="12" md="5">
      <v-text-field
        v-model="search"
        density="compact"
        variant="solo"
        label="Search Receipt"
        append-inner-icon="mdi-magnify"
        single-line
        hide-details
        style="width: 200px"
      >
      </v-text-field>
    </v-col>
    <v-col cols="12" md="5">
      <v-combobox
      v-model="selectedBranch"
      :items="branch"
      label="Select branch"
      @change="handleSelection"
        ></v-combobox>
    </v-col>
  </v-row>
  <v-data-table
    style="width: 1300px; height: 500px; background-color: #e7d0b9"
    :headers="headers"
    :items="receiptStore.receipts"
    :search="search"
    :items-per-page="8"
  >
    <template v-slot:[`item.actions`]="{ item }">
      <v-icon size="small" class="me-2" @click="receiptStore.showReceiptDialog2(item)">
        mdi-eye
      </v-icon>
    </template>
  </v-data-table>
  <DialogReceipt></DialogReceipt>
</template>
<style scoped>
tbody tr:nth-of-type(even) {
  background-color: #d2baa0;
}

tbody tr:nth-of-type(odd) {
  background-color: #e7d0b9;
}

thead {
  background-color: #bc9b6b;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.theme--light.v-data-table thead tr th {
  color: white;
}
.text-center {
  text-align: center;
}
</style>
