<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { useProfileStore } from '@/stores/profile'

const authStore = useAuthStore()
const profileStore = useProfileStore()

const getRoleText = () => {
  const role = authStore.getCurrentUser()?.role
  if (role === 'staff') {
    return 'Staff'
  } else if (role === 'manager') {
    return 'Manager'
  } else {
    return 'Owner'
  }
}
</script>

<template>
  <v-menu width="250px" rounded>
    <template v-slot:activator="{ props }">
      <v-btn icon v-bind="props">
        <v-avatar>
          <v-img
            :src="'http://localhost:3000/images/users/' + authStore.getCurrentUser()?.image"
            alt="John"
          ></v-img>
        </v-avatar>
      </v-btn>
    </template>
    <v-card>
      <v-card-text>
        <div class="mx-auto text-center">
          <v-avatar size="100">
            <v-img
              :src="'http://localhost:3000/images/users/' + authStore.getCurrentUser()?.image"
              alt="John"
            ></v-img>
          </v-avatar>
          <h2 class="pa-2">{{ authStore.getCurrentUser()?.fullName }}</h2>
          <p class="mt-1">
            {{ authStore.getCurrentUser()?.email }}
          </p>
          <h3 class="mt-3">
            {{ getRoleText() }}
          </h3>
          <v-divider :thickness="2" class="border-opacity-100 my-4"></v-divider>
          <v-btn color="brown-lighten-2" rounded @click="profileStore.gotoProfileView()">
            Profile
          </v-btn>
          <v-divider :thickness="2" class="border-opacity-100 my-4"></v-divider>
          <v-btn color="brown-lighten-2" rounded @click="authStore.logout()"> Logout </v-btn>
        </div>
      </v-card-text>
    </v-card>
  </v-menu>
</template>
