<script setup lang="ts">
import { useAuthMemberStore } from '@/stores/authmember'
import { useProfileStore } from '@/stores/profile'

const authMemberStore = useAuthMemberStore()
const profileStore = useProfileStore()
</script>

<template>
  <v-menu width="250px" rounded>
    <template v-slot:activator="{ props }">
      <v-btn icon v-bind="props">
        <v-avatar>
          <v-img
            :src="
              'http://localhost:3000/images/members/' + authMemberStore.getCurrentMember()?.image
            "
            alt="John"
          ></v-img>
        </v-avatar>
      </v-btn>
    </template>
    <v-card>
      <v-card-text>
        <div class="mx-auto text-center">
          <v-avatar size="100">
            <v-img
              :src="
                'http://localhost:3000/images/members/' + authMemberStore.getCurrentMember()?.image
              "
              alt="John"
            ></v-img>
          </v-avatar>
          <h2 class="pa-2">{{ authMemberStore.getCurrentMember()?.name }}</h2>
          <p class="mt-1">
            {{ authMemberStore.getCurrentMember()?.tel }}
          </p>
          <v-divider :thickness="2" class="border-opacity-100 my-4"></v-divider>
          <v-btn color="brown-lighten-2" rounded @click="profileStore.gotoProfileView()">
            Profile
          </v-btn>
          <v-divider :thickness="2" class="border-opacity-100 my-4"></v-divider>
          <v-btn color="brown-lighten-2" rounded @click="authMemberStore.logout()"> Logout </v-btn>
        </div>
      </v-card-text>
    </v-card>
  </v-menu>
</template>
