<script setup lang="ts">
import { inject, ref, type Ref } from 'vue'
import AvatarApp from './AvatarApp.vue'
import AvatarAppMember from './AvatarAppMember.vue'
import { useAuthStore } from '@/stores/auth'
import { useRouter } from 'vue-router'

const rail = inject<Ref<boolean>>('rail')
const authStore = useAuthStore()
const currentDate = ref()
const currentTime = ref()
const router = useRouter()

function dateTime() {
  const now = new Date()
  currentDate.value =
    now.getFullYear() +
    '-' +
    ('0' + (now.getMonth() + 1)).slice(-2) +
    '-' +
    ('0' + now.getDate()).slice(-2)
  currentTime.value = now.toLocaleTimeString()
}
setInterval(dateTime, 0)
</script>

<template>
  <v-app-bar style="background-color: #604c46; color: white; position: fixed">
    <template v-slot:prepend>
      <v-avatar size="44">
        <v-img
          v-if="authStore.getCurrentUser()"
          :src="`./img/logo/logo.png`"
          @click="
            () => {
              router.push('/Main-Menu')
            }
          "
        ></v-img>
        <v-img
          v-else
          :src="`./img/logo/logo.png`"
          @click="
            () => {
              router.push('/Order')
            }
          "
        ></v-img>
      </v-avatar>
    </template>

    <v-app-bar-title style="text-align: center; font-weight: bold; font-size: 25px"
      >D-COFFEE</v-app-bar-title
    >

    <v-spacer></v-spacer>
    <h2 style="padding-right: 20px; font-size: 18px">
      Date: {{ currentDate }} Time: {{ currentTime }}
    </h2>
    <v-divider :thickness="2" class="border-opacity-100" vertical></v-divider>
    <div class="pa-2" v-if="authStore.getCurrentUser()">
      <AvatarApp></AvatarApp>
    </div>
    <div class="pa-2" v-else>
      <AvatarAppMember></AvatarAppMember>
    </div>
  </v-app-bar>
</template>
