<script setup lang="ts">
import { inject, type Ref } from 'vue'

const rail = inject<Ref<boolean>>('rail')
const drawer = inject<Ref<boolean>>('drawer')
</script>

<template>
  <v-navigation-drawer
    :width="220"
    v-model="drawer"
    :rail="rail"
    expand-on-hover
    style="background-color: #d7bb93; position: fixed"
  >
    <v-list density="compact" nav>
      <v-list-item
        prepend-icon="mdi-point-of-sale"
        title="Order"
        value="order"
        :to="{ name: 'order' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-cart-percent"
        title="Promotion"
        value="promotion"
        :to="{ name: 'Promotion' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-history"
        title="Order History"
        value="orderhistory"
        :to="{ name: '' }"
      ></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>
