<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt'
import { useAuthStore } from '@/stores/auth'
import { usePromotionStore } from '@/stores/promotion'
import { useMemberStore } from '@/stores/member'
import type { ReceiptItem } from '@/types/ReceiptItem'
import { ref } from 'vue'
const receiptStore = useReceiptStore()
const authStore = useAuthStore()
const promotionStore = usePromotionStore()
const memberStore = useMemberStore()
function size(item: ReceiptItem): string {
  if (item.gsize != '-') {
    return '(' + item.gsize + ')'
  }
  return ''
}

function type(item: ReceiptItem): string {
  if (item.type != '-') {
    return '(' + item.type + ')'
  }
  return ''
}

function sweetLv(item: ReceiptItem): string {
  if (item.sweet_level != '-') {
    return '(' + item.sweet_level + ')'
  }
  return ''
}
function closeDialog() {
  receiptStore.closeDialog()
  receiptStore.deletePoint()
  receiptStore.calReceipt()
}

function comfirmDialog() {
  receiptStore.receiptDialog = false
  memberStore.editedMember = memberStore.currentMember!
  receiptStore.addPoint()
  memberStore.addMember()
  receiptStore.addReceipt()
  receiptStore.clear()
  memberStore.clear()
}
</script>
<template>
  <v-dialog v-model="receiptStore.receiptDialog" persistent width="auto" height="auto" scrollable>
    <v-card>
      <v-card-title>Receipt</v-card-title>
      <v-card-text justify="center" align="center" style="border: 1px solid">
        <v-img :width="100" aspect-ratio="1/1" src="./img/logo/logo.png"></v-img>
        <!-- head -->
        <v-container>
          <v-row justify="center">D-Coffee</v-row>
          <v-row justify="center" style="font-size: 10px"
            >สาขา อาคารวิทยาศาสตร์การแพทย์ คณะสหเวชศาสตร์</v-row
          >
          <v-row justify="center" style="font-size: 10px">ม.บูรพา โทร 095-3325290</v-row>
          <br /><br />
          <v-row justify="center" style="font-size: 10px">ใบเสร็จรับเงิน/ใบกำกับภาษีอย่างย่อ</v-row>
        </v-container>
        <v-divider></v-divider>
        <!-- เวลา และ user -->
        <v-container class="pa-0">
          <v-row no-gutters class="justify-start">
            <v-col>
              <div>
                <p style="font-size: 10px; text-align: left">
                  Date: {{ receiptStore.textDate[0] }}
                </p>
                <p style="font-size: 10px; text-align: left">
                  Time: {{ receiptStore.textDate[1] }}
                </p>
              </div>
            </v-col>
            <v-col
              ><p style="font-size: 10px; text-align: right">
                User: {{ authStore.getCurrentUser()!.fullName }}
              </p></v-col
            >
          </v-row>
        </v-container>
        <v-divider></v-divider>
        <!-- ตาราง -->
        <v-container class="pa-0">
          <v-table density="compact">
            <thead>
              <tr style="font-size: 10px; text-align: left">
                <th>Name</th>
                <th>Unit</th>
                <th>Price</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="item of receiptStore.receiptItems"
                :key="item.id"
                style="font-size: 10px; text-align: left"
              >
                <td>{{ item.name + type(item) + size(item) + sweetLv(item) }}</td>
                <td>{{ item.unit }}</td>
                <td>{{ item.price }} ฿</td>
                <td>{{ item.unit * item.price }} ฿</td>
              </tr>
            </tbody>
          </v-table>
        </v-container>
        <v-divider></v-divider>
        <!-- รายละเอียด -->
        <v-container class="pa-0" style="width: 300px">
          <v-row no-gutters>
            <v-divider></v-divider>
            <v-col cols="6" style="font-size: 11px; text-align: left"
              ><p>
                สมาชิก:
                {{
                  receiptStore.editedReceipt.member ? receiptStore.editedReceipt.member.name : '-'
                }}
              </p></v-col
            >
            <v-col cols="3" style="font-size: 11px; text-align: left"
              ><p>
                แต้ม:
                {{
                  receiptStore.editedReceipt.member ? receiptStore.editedReceipt.member.point : '-'
                }}
              </p></v-col
            >
            <v-col cols="3" style="font-size: 11px; text-align: left"
              ><p>
                ลด:
                {{
                  receiptStore.editedReceipt.member
                    ? receiptStore.editedReceipt.member_discount
                    : '-'
                }}
              </p></v-col
            >
            <v-divider></v-divider>
            <v-col cols="12" style="font-size: 11px; text-align: left"
              ><p>
                โปรโมชั่น:
                {{
                  receiptStore.editedReceipt.promotions
                    ? receiptStore.editedReceipt.promotions
                        .map((promotion) => promotion.name)
                        .join(', ')
                    : '-'
                }}
                <!--แก้โปรโมชั่นด้วย -->
              </p></v-col
            >
            <v-col cols="12" style="font-size: 11px; text-align: left"
              ><p>
                ส่วนลดโปรโมชั่น:
                {{
                  receiptStore.editedReceipt.promotions
                    ? receiptStore.editedReceipt.promotion_discount + ' ฿'
                    : '-'
                }}
              </p></v-col
            >
            <v-divider></v-divider>
            <v-col cols="6" style="font-size: 11px; text-align: left"
              ><p>ราคา: {{ receiptStore.editedReceipt.totalBefore }} ฿</p></v-col
            >
            <v-col cols="6" style="font-size: 11px; text-align: left"
              ><p>
                ส่วนลด:
                {{ receiptStore.editedReceipt.totalDiscount }} ฿
              </p></v-col
            >
            <v-col cols="6" style="font-size: 11px; text-align: left"
              ><p>ราคารวมทั้งสิ้น: {{ receiptStore.editedReceipt.total }} ฿</p></v-col
            >
            <v-col cols="6" style="font-size: 11px; text-align: left"
              ><p>วิธีการจ่าย: {{ receiptStore.editedReceipt.paymentType }}</p></v-col
            >
            <v-col cols="6" style="font-size: 11px; text-align: left"
              ><p>เงิน: {{ receiptStore.editedReceipt.receivedAmount }} ฿</p></v-col
            >
            <v-col cols="6" style="font-size: 11px; text-align: left"
              ><p>เงินทอน: {{ receiptStore.editedReceipt.change }} ฿</p></v-col
            >
          </v-row>
        </v-container>
        <v-divider></v-divider>
        <p style="font-size: 11px; padding-top: 10px">ขอบคุณที่ใช้บริการค่ะ</p>
      </v-card-text>
      <v-card-actions>
        <v-spacer> </v-spacer>
        <v-btn @click="receiptStore.changeComponent(1), closeDialog()">ยกเลิก</v-btn>
        <v-btn v-if="!receiptStore.editedReceipt.id" @click="comfirmDialog()">ยืนยัน</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<style scoped>
tbody tr:nth-of-type(even) {
  background-color: white;
}

tbody tr:nth-of-type(odd) {
  background-color: white;
}

thead {
  background-color: white;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.theme--light.v-data-table thead tr th {
  color: white;
}
</style>
