<script setup lang="ts">
import { useAuthMemberStore } from '@/stores/authmember'
import { useMemberStore } from '@/stores/member'
import DialogEdit from '../Member/DialogEdit.vue'
const authMemberStore = useAuthMemberStore()
const memberStore = useMemberStore()

function editProfile() {
  const currentUser = authMemberStore.getCurrentMember()
  if (currentUser !== null) {
    memberStore.editMember(currentUser)
  } else {
    console.log('no user')
  }
}
</script>

<template>
  <v-container
    style="
      background-color: #e7d0b9;
      border: 3px solid rgb(112, 73, 31);
      width: 700px;
      height: 410px;
      margin-top: 90px;
      padding: 60px;
    "
  >
    <v-card style="background-color: #ffffff; border: 2px solid rgb(112, 73, 31)">
      <v-row no-gutter>
        <v-col class="justify-center text-center align-center" style="padding: 40px">
          <v-img
            :src="
              'http://localhost:3000/images/members/' + authMemberStore.getCurrentMember()?.image
            "
            alt="John"
            aspect-ratio="1/1"
            style="width: 200px"
          ></v-img
        ></v-col>
        <v-divider
          :thickness="2"
          class="border-opacity-100"
          vertical
          color="rgb(112, 73, 31)"
        ></v-divider>
        <v-col>
          <v-col cols="12" sm="12">ID : {{ authMemberStore.getCurrentMember()?.id }}</v-col>
          <v-col cols="12" sm="12">Name : {{ authMemberStore.getCurrentMember()?.name }}</v-col>
          <v-col cols="12" sm="12">Email : {{ authMemberStore.getCurrentMember()?.email }}</v-col>
          <v-col cols="12" sm="12">Tel : {{ authMemberStore.getCurrentMember()?.tel }}</v-col>
          <v-col cols="12" sm="12">Point : {{ authMemberStore.getCurrentMember()?.point }}</v-col>
        </v-col>
      </v-row>
    </v-card>
    <br />
    <v-btn @click="editProfile()">Edit Profile</v-btn>
  </v-container>
  <DialogEdit></DialogEdit>
</template>

<style scoped></style>
