<script setup lang="ts">
import UserProfileView from './UserProfileView.vue'
import MemberProfileView from './MemberProfileView.vue'
import { useAuthStore } from '@/stores/auth'

const authStore = useAuthStore()
</script>

<template>
  <UserProfileView v-if="authStore.getCurrentUser()"></UserProfileView>
  <MemberProfileView v-else></MemberProfileView>
</template>
