<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { useUserStore } from '@/stores/user'
import DialogAddUser from '../User/DialogAddUser.vue'
const authStore = useAuthStore()
const userStore = useUserStore()

function editProfile() {
  const currentUser = authStore.getCurrentUser()
  if (currentUser !== null) {
    userStore.editItem(currentUser)
  } else {
    console.log('no user')
  }
}
</script>

<template>
  <v-container
    style="
      background-color: #e7d0b9;
      border: 3px solid rgb(112, 73, 31);
      width: 700px;
      height: 410px;
      margin-top: 90px;
      padding: 60px;
    "
  >
    <v-card style="background-color: #ffffff; border: 2px solid rgb(112, 73, 31)">
      <v-row no-gutter>
        <v-col class="justify-center text-center align-center" style="padding: 40px">
          <v-img
            :src="'http://localhost:3000/images/users/' + authStore.getCurrentUser()?.image"
            alt="John"
            aspect-ratio="1/1"
            style="width: 200px"
          ></v-img
        ></v-col>
        <v-divider
          :thickness="2"
          class="border-opacity-100"
          vertical
          color="rgb(112, 73, 31)"
        ></v-divider>
        <v-col>
          <v-col cols="12" sm="12">Name : {{ authStore.getCurrentUser()?.fullName }}</v-col>
          <v-col cols="12" sm="12">Email : {{ authStore.getCurrentUser()?.email }}</v-col>
          <v-col cols="12" sm="12">Role : {{ authStore.getCurrentUser()?.role }}</v-col>
          <v-col cols="12" sm="12">Gender : {{ authStore.getCurrentUser()?.gender }}</v-col>
        </v-col>
      </v-row>
    </v-card>
    <br />
    <v-btn @click="editProfile()">Edit Profile</v-btn>
  </v-container>
  <DialogAddUser></DialogAddUser>
</template>

<style scoped></style>
