<script lang="ts" setup>
import { useLoadingStore } from '@/stores/loading'
import { ref } from 'vue'
const loadingStore = useLoadingStore()
</script>
<template>
  <v-dialog v-model="loadingStore.isLoading" persistent width="500">
    <v-card>
      <v-card-text class="text-center">
        <!-- Progress -->
        <v-progress-circular
          v-if="loadingStore.isLoadingCircle"
          color="black"
          :size="128"
          :width="20"
          indeterminate
        ></v-progress-circular>
        <div v-if="loadingStore.isLoadingCircle" class="pa-3 font">Please Wait</div>
        <!-- Success -->
        <v-icon v-if="loadingStore.isSuccess" color="success" size="128"> mdi-check-circle </v-icon>
        <div v-if="loadingStore.isSuccess" class="pa-3 font">Success</div>
        <!-- Fail -->
        <v-icon v-if="loadingStore.isFailure" color="error" size="128"> mdi-alert-circle </v-icon>
        <div v-if="loadingStore.isFailure" class="pa-3 font">Loading Failed</div>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<style scoped>
.font {
  font-size: 30px;
  font-weight: bold;
}
</style>
