<script setup lang="ts">
import { useBillCostStore } from '@/stores/billcost'
import DialogAddBillCost from './DialogAddBillCost.vue'
import DialogSummarize from './DialogSummarize.vue'
import ReportBillcostDialog from './ReportBillcostDialog.vue'
import { onMounted, ref } from 'vue'
import { useTypebillcostStore } from '@/stores/typebillcost'
import DialogEditBillCost from './DialogEditBillCost.vue'
import DialogExpenseReport from './DialogExpenseReport.vue'
import { useAuthStore } from '@/stores/auth'

const authStore = useAuthStore()
const typebillcostStore = useTypebillcostStore()
const billcostStore = useBillCostStore()
const headers = [
  // {
  //   key: 'id',
  //   sortable: false,
  //   title: 'BillCostId'
  // },
  { key: 'Typebillcost', title: 'TypeBill', sortable: false, value: 'Typebillcost.name' },
  { key: 'User', title: 'User', sortable: false, value: 'User.fullName' },
  { key: 'Date', title: 'Date', sortable: false, value: 'Date' },
  { key: 'Time', title: 'Time', sortable: false, value: 'Time' },
  { key: 'Billtotal', title: 'BillTotal (Baht)', sortable: false, value: 'Billtotal' },
  { key: 'branch', title: 'Branch', sortable: false, value: 'branch.id' },
  { key: 'actions', title: 'Actions', sortable: false }
]
const search = ref('')

onMounted(async () => {
  await typebillcostStore.getTypebillcosts()
  if (authStore.getCurrentUser()?.role === 'staff') {
    await billcostStore.getBillCostForUser()
  } else if (authStore.getCurrentUser()?.role === 'manager') {
    await billcostStore.getBillCostForBranch()
  } else if (authStore.getCurrentUser()?.role === 'owner') {
    await billcostStore.getBillCosts()
  }
})
</script>
<template>
  <!-- โชว์รูป -->
  <v-dialog v-model="billcostStore.imageDialog">
    <v-card>
      <v-card-title> Image BillCosr </v-card-title>
      <v-col cols="12" md="12" class="d-flex justify-center">
        <v-img
          :src="'http://localhost:3000/images/billcosts/' + billcostStore.editedbillCost.image"
          height="600"
          width="600"
        ></v-img>
      </v-col>
      <v-card-actions>
        <v-btn color="red" variant="text" @click="billcostStore.closeimageDialog">Cancel</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <!-- ------------------ -->
  <v-data-table
    :headers="headers"
    :items="billcostStore.billCosts"
    :search="billcostStore.search"
    :items-per-page="7"
    style="background-color: #e7d0b9"
  >
    <template v-slot:top>
      <v-dialog v-model="billcostStore.dialogDelete" max-width="500px">
        <v-card
          class="justify-center align-center"
          style="border: #fe0000 solid 2px; border-radius: 50px"
        >
          <v-card-text>
            <v-row class="justify-center align-center pa-5"
              ><v-icon icon="mdi-delete-empty" size="120" color="#fe0000"></v-icon
            ></v-row>
            <h3>Are you sure you want to delete this item?</h3>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="red" variant="text" @click="billcostStore.closeDelete">Cancel</v-btn>
            <v-btn color="blue-darken-1" variant="text" @click="billcostStore.deleteItemConfirm"
              >OK</v-btn
            >
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </template>

    <template v-slot:[`item.actions`]="{ item }">
      <v-icon size="small" class="me-2" @click="billcostStore.openimageDialog(item)">
        mdi-camera
      </v-icon>
      <v-icon size="small" class="me-2" @click="billcostStore.editItem(item)"> mdi-pencil </v-icon>
      <v-icon size="small" class="me-2" @click="billcostStore.deleteItem(item)">mdi-delete</v-icon>
    </template>
  </v-data-table>
  <DialogAddBillCost></DialogAddBillCost>
  <DialogEditBillCost></DialogEditBillCost>
  <DialogSummarize></DialogSummarize>
  <ReportBillcostDialog></ReportBillcostDialog>
  <DialogExpenseReport></DialogExpenseReport>
</template>
<style>
tbody tr:nth-of-type(even) {
  background-color: #d2baa0;
}

tbody tr:nth-of-type(odd) {
  background-color: #e7d0b9;
}

thead {
  background-color: #bc9b6b;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.theme--light.v-data-table thead tr th {
  color: white;
}
</style>
