<script setup lang="ts">
import { useBillCostStore } from '@/stores/billcost'
import BillCostTable from './BillCostTable.vue'
import { useTypebillcostStore } from '@/stores/typebillcost'
import { useBranchStore } from '@/stores/branch'
import { useUserStore } from '@/stores/user'
import { useAuthStore } from '@/stores/auth'

const billStore = useBillCostStore()
const typebillcostStore = useTypebillcostStore()
const authStore = useAuthStore()
const branchStore = useBranchStore()
const userStore = useUserStore()
</script>

<template>
  <v-container>
    <v-row no-gutters>
      <v-col>
        <div>
          <v-text-field
            v-model="billStore.search"
            density="compact"
            variant="solo"
            label="Search Bill Cost"
            append-inner-icon="mdi-magnify"
            single-line
            hide-details
            style="width: 150px"
          ></v-text-field>
        </div>
      </v-col>
      <v-col>
        <div>
          <v-combobox
            v-model="billStore.selectedType"
            :items="['All', ...typebillcostStore.typebillcosts]"
            item-text="name"
            item-value="id"
            label="TypeBill"
            density="compact"
            variant="solo"
            :return-object="true"
            style="width: 170px"
            search-input
          ></v-combobox>
        </div>
      </v-col>
      <v-col>
        <div>
          <v-text-field
            clearable
            label="Start Date"
            type="date"
            density="compact"
            variant="solo"
            style="width: 170px"
          ></v-text-field>
        </div>
      </v-col>
      <v-col>
        <div>
          <v-text-field
            clearable
            label="End Date"
            type="date"
            density="compact"
            variant="solo"
            style="width: 170px"
          ></v-text-field>
        </div>
      </v-col>
      <v-col v-if="authStore.getCurrentUser()?.role === 'owner'">
        <div>
          <v-combobox
            v-model="billStore.search"
            :items="['ALL', ...branchStore.branchs]"
            label="Branch"
            density="compact"
            item-title="Address"
            item-value="id"
            variant="solo"
            :return-object="true"
            style="width: 150px"
          ></v-combobox>
        </div>
      </v-col>
      <v-col v-if="authStore.getCurrentUser()?.role === 'staff'">
        <div>
          <v-btn
            prepend-icon="mdi-plus"
            style="background-color: #47bb59; color: white; width: 150px"
            @click="billStore.openDialog"
            >BillCost Add</v-btn
          >
        </div>
      </v-col>
    </v-row>

    <v-row no-gutters>
      <v-sheet
        width="1250"
        height="482"
        style="background-color: #e7d0b9; border: rgb(112, 73, 31) solid 3px"
      >
        <!-- Your BillCostTable component -->
        <BillCostTable></BillCostTable>

        <v-row no-gutters>
          <!-- First button: Summarize -->
          <v-col cols="12" md="3" style="padding-top: 0px">
            <div>
              <v-btn
                prepend-icon="mdi-chart-bar"
                style="margin-left: 550px"
                @click="billStore.openDialogS()"
                >Summarize</v-btn
              >
            </div>
          </v-col>

          <!-- Second button: Report -->
          <v-col cols="12" md="3" style="padding-top: 0px">
            <div>
              <v-btn
                prepend-icon="mdi-equal-box"
                style="margin-left: 550px"
                @click="billStore.openReportBillcostDialog()"
                >Report</v-btn
              >
            </div>
          </v-col>
        </v-row>
      </v-sheet>
    </v-row>
  </v-container>
</template>

<style scoped>
.custom-background-color {
  background-color: rgb(0, 191, 255);
}
</style>
