<script setup lang="ts">
import { useBillCostStore } from '@/stores/billcost'
import { useTypebillcostStore } from '@/stores/typebillcost'
import { ref } from 'vue'

const typebillcostStore = useTypebillcostStore()
const billcostStore = useBillCostStore()
const form = ref(false)
function onSubmit() {}
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="billcostStore.dialogS" persistent width="300">
      <v-card>
        <v-card-title>
          <span class="text-h5">Summarize</span>
        </v-card-title>
        <v-form ref="refform" v-model="form" @submit.prevent="onSubmit">
          <v-container>
            <v-row>
              <v-col cols="12" sm="12" md="12" style="padding: 0">
                <v-combobox
                  v-model="billcostStore.editedbillCost.Typebillcost"
                  :items="typebillcostStore.typebillcosts"
                  item-title="name"
                  item-value="id"
                  label="TypeBill"
                  :return-object="true"
                ></v-combobox>
              </v-col>
              <v-col cols="12" sm="12" md="12" style="padding: 0">
                <v-text-field
                  clearable
                  label="Start Date"
                  type="date"
                  density="compact"
                  variant="solo"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="12" style="padding: 0">
                <v-text-field
                  clearable
                  label="End Date"
                  type="date"
                  density="compact"
                  variant="solo"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="12" style="padding: 0">
                <v-select
                  clearable
                  label="Report/Graph"
                  :items="['Report', 'Graph']"
                  density="compact"
                  variant="solo"
                ></v-select>
              </v-col>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="billcostStore.closeDialogS()">
                  Close
                </v-btn>
                <v-btn color="blue-darken-1" variant="text" @click="billcostStore.openDialogER()">
                  Save2
                </v-btn>
              </v-card-actions>
            </v-row>
          </v-container>
        </v-form>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped></style>
