<script setup lang="ts">
import { useBillCostStore } from '@/stores/billcost'
import { useTypebillcostStore } from '@/stores/typebillcost'
import { ref } from 'vue'

const typebillcostStore = useTypebillcostStore()
const billcostStore = useBillCostStore()
const form = ref(false)
function onSubmit() {}
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="billcostStore.dialogER" persistent width="600">
      <v-card>
        <v-card-title style="background-color: #adadad; color: black">
          <span class="text-h5">Expense Report</span>
        </v-card-title>
        <v-container class="pa-5">
          <v-row justify="center">
            <span class="text-h6">Expense Report</span>
          </v-row>
          <v-row class="pa-5" justify="end">
            <v-col>
              <p style="font-size: 14px; text-align: left">Branch :</p>
            </v-col>
            <v-col>
              <p style="font-size: 14px; text-align: right">Day :</p>
            </v-col>
            <v-col>
              <p style="font-size: 14px; text-align: right">Month :</p>
            </v-col>
            <v-col>
              <p style="font-size: 14px; text-align: right">Year :</p>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped></style>
