<script setup lang="ts">
import { useBillCostStore } from '@/stores/billcost'

import { ref } from 'vue'

const billcostStore = useBillCostStore()
const search = ref('')
const headers = [
  { key: 'branch', sortable: false, title: 'Branch' },
  { key: 'Date', title: 'Date', sortable: false },
  { key: 'reporttype', title: 'Report Type', sortable: false },
  { key: 'actions', title: 'Actions', sortable: false }
]
</script>

<template>
  <v-dialog
    v-model="billcostStore.ReportBillcostDialog"
    fullscreen
    :scrim="false"
    transition="dialog-bottom-transition"
  >
    <v-card>
      <v-toolbar dark color="primary">
        <v-btn
          icon
          dark
          @click="billcostStore.ReportBillcostDialog = !billcostStore.ReportBillcostDialog"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title>Report Billcost</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>

      <v-container>
        <v-row no-gutters>
          <v-col cols="12" md="5">
            <v-text-field
              v-model="search"
              density="compact"
              variant="solo"
              label="Search Report"
              append-inner-icon="mdi-magnify"
              single-line
              hide-details
              style="width: 200px"
            >
            </v-text-field>
          </v-col>
        </v-row>
        <v-data-table :headers="headers" :items-per-page="8" :search="search">
          <template v-slot:[`item.actions`]="{ item }">
            <v-icon size="large" class="me-2" @click="billcostStore.editItem(item)">
              mdi-eye
            </v-icon>
            <v-icon size="large" class="me-2" @click="billcostStore.editItem(item)">
              mdi-printer
            </v-icon>
          </template>
        </v-data-table>

        <!-- ทดสอบเฉยๆ -->
        <v-row no-gutters>
          <!-- First button: Summarize -->
          <v-col cols="12" md="3" style="padding-top: 0px">
            <div>
              <v-btn
                prepend-icon="mdi-eye"
                style="margin-left: 550px"
                @click="billcostStore.openDialogS()"
              ></v-btn>
            </div>
          </v-col>

          <!-- Second button: Report -->
          <v-col cols="12" md="3" style="padding-top: 0px">
            <div>
              <v-btn
                prepend-icon="mdi-printer"
                style="margin-left: 550px"
                @click="billcostStore.openReportBillcostDialog()"
              ></v-btn>
            </div>
          </v-col>
        </v-row>
        <!------------>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<style scoped>
tbody tr:nth-of-type(even) {
  background-color: white;
}

tbody tr:nth-of-type(odd) {
  background-color: white;
}

thead {
  background-color: white;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.theme--light.v-data-table thead tr th {
  color: white;
}
.dialog-bottom-transition-enter-active,
.dialog-bottom-transition-leave-active {
  transition: transform 0.2s ease-in-out;
}
</style>
