<script setup lang="ts">
import { useBranchStore } from '@/stores/branch'
import { useUserStore } from '@/stores/user'
import { onMounted, ref } from 'vue'
import { useWorktimeStore } from '@/stores/worktime'
const UserStore = useUserStore()
const branchStore = useBranchStore()
const worktimeStore = useWorktimeStore()
const form = ref(false)
const loading = ref(false)
const dialog = ref(false)
const show = ref(false)
function onSubmit() {
  form.value
}
const email = ref('')
function validateEmail(value: any) {
  const emailRegex = /^[a-zA-Z0-9._%+-]+@(gmail|hotmail)\.com$/

  return emailRegex.test(value) || 'Invalid email address'
}
onMounted(async () => {
  await UserStore.getUsers()
  await branchStore.getBranchs()
  await worktimeStore.getWorktimes()
})
</script>
<template>
  <v-dialog v-model="UserStore.dialog" persistent width="1024">
    <v-card>
      <v-card-title>
        <span class="text-h5">User Profile</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
          <v-container>
            <v-row>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="UserStore.editedUser.email"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Please Enter email', validateEmail]"
                  class="mb-2"
                  clearable
                  label="Email"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="UserStore.editedUser.fullName"
                  :readonly="loading"
                  :rules="[(v) => !!v || 'Please Enter name']"
                  class="mb-2"
                  clearable
                  label="Full Name"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-text-field
                  v-model="UserStore.editedUser.password"
                  :readonly="loading"
                  :rules="[
                    (v) => !!v || 'Please Enter password',
                    (v) =>
                      (v && v.length >= 8) ||
                      'Password must contain letters and numbers more than 8 characters'
                  ]"
                  clearable
                  label="Password"
                  placeholder="Enter your password"
                  :type="show ? 'text' : 'password'"
                  ><template v-slot:append-inner>
                    <v-icon
                      :icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                      @click="show = !show"
                    ></v-icon> </template
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-combobox
                  label="Gender"
                  :items="['male', 'female', 'others']"
                  v-model="UserStore.editedUser.gender"
                ></v-combobox>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-combobox
                  v-model="UserStore.editedUser.role"
                  :items="[
                    { title: 'Owner', value: 'owner' },
                    { title: 'Manager', value: 'manager' },
                    { title: 'Staff', value: 'staff' }
                  ]"
                  label="Select roles"
                  :return-object="false"
                ></v-combobox>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-combobox
                  v-model="UserStore.editedUser.branch"
                  :items="branchStore.branchs"
                  item-title="Address"
                  item-value="id"
                  label="Select branch"
                  :return-object="true"
                  :rules="[(v) => !!v || 'Field is required']"
                ></v-combobox>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-combobox
                  v-model="UserStore.editedUser.worktime"
                  :items="worktimeStore.worktimes"
                  item-title="name"
                  item-value="id"
                  label="Select Worktime"
                  :return-object="true"
                  :rules="[(v) => !!v || 'Field is required']"
                ></v-combobox>
              </v-col>
              <v-divider :thickness="2"></v-divider>
              <v-col cols="12" sm="12" md="4">
                <v-file-input
                  v-model="UserStore.editedUser.files"
                  :rules="[
                    (value) => {
                      return (
                        !value ||
                        !value.length ||
                        value[0].size < 2000000 ||
                        'Avatar size should be less than 2 MB!'
                      )
                    }
                  ]"
                  accept="image/png, image/jpg"
                  label="Avatar"
                  placeholder="Pick an avatar"
                  prepend-icon="mdi-camera"
                ></v-file-input>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <v-img
                  :src="'http://localhost:3000/images/users/' + UserStore.editedUser.image"
                  height="100"
                  width="100"
                ></v-img>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue-darken-1" variant="text" @click="UserStore.closeDialog()"> Close </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="UserStore.save()" :disabled="!form">
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
