<script setup lang="ts">
import { ref } from 'vue'
import { useUserStore } from '@/stores/user'
import DialogAddUser from './DialogAddUser.vue'
import type { User } from '@/types/User'
import DialogDelete from './DialogDelete.vue'

const userStore = useUserStore()
const headers = [
  { key: 'id', title: 'Id' },
  {
    key: 'image',
    sortable: false,
    title: 'Photo'
  },
  { key: 'email', title: 'Email' },
  { key: 'fullName', title: 'Full Name' },
  { key: 'branch', title: 'Branch', value: (item: any | User) => item.branch.Address },
  { key: 'gender', title: 'Gender' },
  { key: 'role', title: 'Role' },
  { key: 'worktime', title: 'Worktime', value: (item: User) => item.worktime?.name},
  { title: 'Actions', key: 'actions', sortable: false }
]
const search = ref('')
function deleteItemConfirm(item: User) {
  // Delete item from list
  userStore.deleteUser(item)
  userStore.closeDelete()
}
</script>

<template>
  <v-data-table
    :headers="headers"
    :items="userStore.users"
    :search="search"
    :items-per-page="8"
    style="background-color: #e7d0b9"
  >
    <template v-slot:[`item.actions`]="{ item }">
      <v-icon size="small" class="me-2" @click="userStore.editItem(item)"> mdi-pencil </v-icon>
      <v-icon size="small" @click="userStore.openDeleteDialog(item)"> mdi-delete </v-icon>
    </template>
    <template v-slot:[`item.image`]="{ item }">
      <v-img
        :src="'http://localhost:3000/images/users/' + item.image"
        width="100"
        height="60"
      ></v-img>
    </template>
  </v-data-table>
  <DialogAddUser />
  <DialogDelete />
</template>
<style scoped>
tbody tr:nth-of-type(even) {
  background-color: #d2baa0;
}

tbody tr:nth-of-type(odd) {
  background-color: #e7d0b9;
}

thead {
  background-color: #bc9b6b;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.theme--light.v-data-table thead tr th {
  color: white;
}
</style>
