<script setup lang="ts">
import { RouterLink, RouterView, useRoute } from 'vue-router'
import LoadingDialog from './components/LoadingDialog.vue'
import { onMounted, provide, ref } from 'vue'
import { useAuthStore } from './stores/auth'
import { useUserStore } from './stores/user'
import FullLayout from './layouts/FullLayout.vue'
import MainLayout from './layouts/MainLayout.vue'
import { useStockStore } from './stores/stock'
const stockStore = useStockStore()
const rail = ref(true)
const drawer = ref(true)
const authStore = useAuthStore()
const route = useRoute()
const userStore = useUserStore()

provide('rail', rail)
provide('drawer', drawer)
// onMounted(async () => {
//   console.log("Get Stock");
//   await stockStore.getStocks()
// })
</script>

<template>
  <v-app class="app">
    <FullLayout v-if="route.meta.layout === 'FullLayout'" class="loginLayout"></FullLayout>
    <MainLayout v-if="route.meta.layout === 'MainLayout'"></MainLayout>
  </v-app>
  <LoadingDialog></LoadingDialog>
</template>

<style scoped>
.app {
  background-color: #e7d0b9;
  background-image: url('/img/background.jpg');
  background-size: cover;
}

.loginLayout {
  background-image: url('/img/background2.png');
  background-size: cover;
}
</style>
