<script setup lang="ts">
import FirstAppBar from './FirstAppBar.vue'
import LoginView from './LoginView.vue'
import { useFirstPageStore } from '@/stores/firstpage'

const firstPageStore = useFirstPageStore()
</script>

<template>
  <FirstAppBar></FirstAppBar>
  <v-container v-if="firstPageStore.loginView === true">
    <LoginView></LoginView>
  </v-container>
  <v-container
    v-if="firstPageStore.loginView === false"
    style="background-color: pink; height: 800px; padding-top: 150px"
  >
    <v-lazy>
      <v-card variant="outlined" style="background-color: lightblue; height: 1000px; padding: 20px">
        <v-row>
          <v-img :src="`./img/logo/logo.png`" width="100" height="200"></v-img>
        </v-row>
        <v-row
          >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit soluta error ducimus
          est qui delectus ut, recusandae, exercitationem quos voluptas amet veniam saepe cumque
          fugit perspiciatis? Error sit illo eaque tempore voluptates nam ullam impedit
          exercitationem, perspiciatis natus officiis earum ratione iure quam deserunt temporibus
          quas, veniam ea eum repellendus laborum possimus. Velit, rerum. Repellat in facere
          necessitatibus provident. Nostrum eius id tempore illo aliquam quo impedit? Quas, nulla
          ullam voluptatem ad molestias officia tenetur praesentium assumenda dolores at quisquam
          aspernatur, officiis et recusandae dolore similique culpa nemo rem, impedit quos quia!
          officiis voluptate delectus eius, doloribus totam! Voluptatum placeat magnam ratione
          molestias suscipit veniam labore vitae exercitationem molestiae omnis enim ea amet,
          nesciunt voluptates ipsa similique cupiditate esse provident perferendis? Numquam pariatur
          in esse, quisquam at impedit odio maiores nesciunt totam est molestiae itaque aspernatur
          ducimus quaerat, nobis officia cumque officiis expedita!</v-row
        >
      </v-card>
    </v-lazy>
  </v-container>
</template>
