<script setup lang="ts">
import { inject, ref, type Ref } from 'vue'
import router from '@/router'
import { useFirstPageStore } from '@/stores/firstpage'
import { useLoadingStore } from '@/stores/loading'

const rail = inject<Ref<boolean>>('rail')
const currentDate = ref()
const currentTime = ref()
const firstPageStore = useFirstPageStore()

function dateTime() {
  const now = new Date()
  currentDate.value =
    now.getFullYear() +
    '-' +
    ('0' + (now.getMonth() + 1)).slice(-2) +
    '-' +
    ('0' + now.getDate()).slice(-2)
  currentTime.value = now.toLocaleTimeString()
}
setInterval(dateTime, 0)

async function goToLoginView() {
  firstPageStore.changeComponent(1)
  await router.replace('/Login')
}
</script>

<template>
  <v-app-bar style="background-color: #604c46; color: white" v-model="firstPageStore.firstAppBar">
    <template v-slot:prepend>
      <v-avatar size="44">
        <v-img :src="`./img/logo/logo.png`" @click.stop="rail = !rail"></v-img>
      </v-avatar>
    </template>

    <v-app-bar-title style="text-align: center; font-weight: bold; font-size: 25px"
      >D-COFFEE</v-app-bar-title
    >

    <v-spacer></v-spacer>
    <h2 style="padding-right: 20px; font-size: 18px">
      Date: {{ currentDate }} Time: {{ currentTime }}
    </h2>
    <v-divider :thickness="2" class="border-opacity-100" vertical></v-divider>
    <div style="padding: 20px">
      <v-btn
        block
        style="background-color: #d7bb93; font-weight: bold"
        size="large"
        type="submit"
        variant="elevated"
        rounded
        @click="goToLoginView()"
        >Sign In</v-btn
      >
    </div>
  </v-app-bar>
</template>

<style scoped>
.fixed-bar {
  position: fixed;
  top: 0;
  z-index: 1000;
}
</style>

<!-- authStore.currentUser.fullName -->
