<script setup lang="ts">
import { useMemberStore } from '@/stores/member'
import type { Member } from '@/types/Member'
import { ref } from 'vue'
import type { VForm } from 'vuetify/components'
const textValidate = ref('')
const refform = ref<VForm | null>(null)
const memberStore = useMemberStore()
const show = ref(false)

function OnInput() {
  memberStore.editedMember.tel = memberStore.editedMember.tel.replace(/[^0-9]/g, '')
}
async function save() {
  let { valid } = await refform.value!.validate()
  for (let index = 0; index < memberStore.members.length; index++) {
    const just: Member = memberStore.members[index]
    if (memberStore.editedMember.id === just.id) {
      continue
    }
    if (memberStore.editedMember.tel === just.tel) {
      valid = false
      textValidate.value = 'This number has already been used.'
    }
  }
  if (!valid) return
  console.log('just do it')
  await memberStore.addMember()
  memberStore.closeDialog()
}

function validateEmail(value: any) {
  const emailRegex = /^[a-zA-Z0-9._%+-]+@(gmail|hotmail)\.com$/
  return emailRegex.test(value) || 'Invalid email address'
}
</script>

<template>
  <v-dialog v-model="memberStore.dialog" persistent width="800">
    <v-card>
      <v-card-title>
        <span class="text-h5">Member</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="refform" v-model="memberStore.form">
          <v-container>
            <v-row>
              <v-col>
                <v-col cols="12" md="12">
                  <v-img
                    :src="'http://localhost:3000/images/members/' + memberStore.editedMember.image"
                    height="200"
                    width="200"
                  ></v-img>
                </v-col>
                <v-col cols="12" md="12" style="padding: 0">
                  <v-file-input
                    v-model="memberStore.editedMember.files"
                    :rules="[
                      (value) => {
                        return (
                          !value ||
                          !value.length ||
                          value[0].size < 2000000 ||
                          'Avatar size should be less than 2 MB!'
                        )
                      }
                    ]"
                    accept="image/png, image/jpeg"
                    label="Avatar"
                    placeholder="Pick an avatar"
                    prepend-icon="mdi-image-multiple"
                  >
                  </v-file-input>
                </v-col>
              </v-col>
              <v-divider :thickness="2" class="border-opacity-100" vertical></v-divider>
              <v-col>
                <v-col cols="12" md="12" style="padding: 0">
                  <v-text-field
                    v-model="memberStore.editedMember.name"
                    :rules="[(v) => !!v || 'Please enter name.']"
                    clearable
                    label="Name"
                    placeholder="Enter your name"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="12" style="padding: 0">
                  <v-text-field
                    v-model="memberStore.editedMember.tel"
                    :rules="[
                      (v) => !!v || 'Please enter phone number.',
                      (v) => (v && v.length === 10) || 'Please provide all 10 digits.'
                    ]"
                    clearable
                    label="Tel"
                    placeholder="Enter your tel"
                    inputmode="numeric"
                    pattern="[0-9]*"
                    @input="OnInput"
                    @keyup.enter="save()"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="12" style="padding: 0">
                  <v-text-field
                    v-model="memberStore.editedMember.email"
                    :rules="[(v) => !!v || 'Please Enter email', validateEmail]"
                    clearable
                    label="Email"
                    placeholder="Enter your email"
                    @keyup.enter="save()"
                  >
                  </v-text-field>
                </v-col>
                <v-col cols="12" md="12" style="padding: 0">
                  <v-text-field
                    v-model="memberStore.editedMember.password"
                    :rules="[
                      (v) => !!v || 'Please Enter password',
                      (v) =>
                        (v && v.length >= 8) ||
                        'Password must contain letters and numbers more than 8 characters'
                    ]"
                    clearable
                    label="Password"
                    placeholder="Enter your password"
                    :type="show ? 'text' : 'password'"
                    @keyup.enter="save()"
                  >
                    <template v-slot:append-inner>
                      <v-icon
                        :icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                        @click="show = !show"
                      ></v-icon>
                    </template>
                  </v-text-field>
                </v-col>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small>{{ textValidate }}</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue-darken-1" variant="text" @click="memberStore.dialog = false">
          Close
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save()"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
