<script setup lang="ts">
import DialogDelete from './DialogDelete.vue'
import DialogEdit from './DialogEdit.vue'
import { useMemberStore } from '@/stores/member'
import { onMounted, ref } from 'vue'

const memberStore = useMemberStore()

const headers = [
  {
    key: 'id',
    sortable: false,
    title: 'MemberId'
  },
  {
    key: 'image',
    sortable: false,
    title: 'Photo'
  },
  { key: 'name', title: 'Name' },
  { key: 'tel', title: 'Tel' },
  { key: 'point', title: 'point' },
  { title: 'Actions', key: 'actions', sortable: false }
]

onMounted(() => {
  memberStore.getMembers()
})
</script>
<template>
  <v-data-table
    :headers="headers"
    :items="memberStore.members"
    :search="memberStore.search"
    :items-per-page="5"
    style="background-color: #e7d0b9"
  >
    <template v-slot:[`item.actions`]="{ item }">
      <v-icon size="small" class="me-2" @click="memberStore.editMember(item)"> mdi-pencil </v-icon>
      <v-icon size="small" @click="memberStore.openDialogDelete(item)"> mdi-delete </v-icon>
    </template>
    <template v-slot:[`item.image`]="{ item }">
      <v-img
        :src="'http://localhost:3000/images/members/' + item.image"
        width="100"
        height="60"
      ></v-img>
    </template>
  </v-data-table>
  <DialogDelete></DialogDelete>
  <DialogEdit></DialogEdit>
</template>
<style scoped>
tbody tr:nth-of-type(even) {
  background-color: #d2baa0;
}

tbody tr:nth-of-type(odd) {
  background-color: #e7d0b9;
}

thead {
  background-color: #bc9b6b;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.theme--light.v-data-table thead tr th {
  color: white;
}
</style>
