<script lang="ts" setup>
import { useAuthStore } from '@/stores/auth'
import { useAuthMemberStore } from '@/stores/authmember'

const authStore = useAuthStore()
const authMemberStore = useAuthMemberStore()
</script>

<template>
  <v-layout class="rounded rounded-md">
    <router-view name="header"></router-view>
    <router-view name="menuOwner" v-if="authStore.getCurrentUser()?.role == 'owner'"></router-view>
    <router-view
      name="menuManager"
      v-if="authStore.getCurrentUser()?.role == 'manager'"
    ></router-view>
    <router-view name="menuStaff" v-if="authStore.getCurrentUser()?.role == 'staff'"></router-view>
    <router-view name="menuMember" v-if="authMemberStore.getCurrentMember()"></router-view>
    <v-main class="align-center justify-center" style="min-height: 300px">
      <div class="pa-6">
        <router-view></router-view>
      </div>
    </v-main>
  </v-layout>
</template>
